@import "src/globals.scss";

.architects-imuebles {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $deg-blue-d;
  &__chart {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    background: $brick;
    background-size: cover;
    padding: 1rem;
    box-shadow: $b-shadow;
    border-radius: 0.5rem;
    &-section {
      overflow: auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      background: $white_t;
      backdrop-filter: blur(1.5px);
      &-band {
        color: $white;
        background: $deg-blue-d;
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 8px 8px 0 0;
        &-plus {
          border: none;
          background-color: transparent;
          color: yellowgreen;
          font-size: 2rem;
          position: absolute;
          right: 2%;
          cursor: pointer;
        }
      }
      &-views {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
        align-content: center;
        gap: 10px;
      }
    }
  }
}
