<div class="architects-new">
  <div class="architects-new__content">
    <h2 class="architects-new__content-title">Publicar un inmueble</h2>
    <div class="architects-new__content-form" [formGroup]="newInmuebleForm">
      <div class="architects-new__content-form-upload">
        <figure class="architects-new__content-form-upload-view">
          <img
            class="architects-new__content-form-upload-view-img"
            [src]="imageSelected"
            alt="image"
            *ngIf="imagenes?.length"
          />
        </figure>
        <div class="architects-new__content-form-upload-list">
          <figure
            *ngFor="let img of imagenes; let i = index"
            class="architects-new__content-form-upload-list-img"
          >
            <span (click)="noImage(i)">x</span>
            <img [src]="img" alt="i" (click)="showImage(i)" />
          </figure>
        </div>
        <button
          class="architects-new__content-form-upload-button"
          (click)="onClickUpload()"
        >
          Subir una foto
        </button>
        <input
          type="file"
          (change)="cargarImagen($event)"
          accept=".jpg,.png,.jpeg"
          required
          #uploadImage
        />
      </div>
      <div class="architects-new__content-form-inputs">
        <label class="architects-new__content-form-inputs-type" for="type">
          <p>Tipo de inmueble</p>
          <select id="type" formControlName="type" required>
            <option value="" option disabled>
              Seleccione el tipo de inmuble
            </option>
            <option value="Apartamento">Apartamento</option>
            <option value="Casa">Casa</option>
            <option value="Casa Finca">Casa Finca</option>
          </select>
        </label>
        <label class="architects-new__content-form-inputs-city" for="city">
          <p>Ubicacion del inmueble</p>
          <select
            id="city"
            class="form-control"
            id="city"
            required
            formControlName="city"
            required
          >
            <option value="" disabled>Selecciona una ciudad...</option>
            <option value="city" *ngFor="let city of cities">{{city | capitalize}}</option>
            </select>
        </label>
        <label class="architects-new__content-form-inputs-sector" for="sector">
          <p>Sector</p>
          <input
            id="sector"
            type="text"
            placeholder="Sector, ej: 'Kilometro 18'"
            title="No abrevie las pabras, escriba Kilometro en vez de KM"
            formControlName="sector"
            required
            (keydown.enter)="$event.preventDefault()"
          />
        </label>
        <label
          class="architects-new__content-form-inputs-description"
          for="description"
        >
          <p>Descripcion del inmueble</p>
          <textarea
            id="description"
            placeholder="Descripcion del inmueble"
            formControlName="description"
            (keydown.enter)="$event.preventDefault()"
          ></textarea>
        </label>
        <div
          class="architects-new__content-form-inputs-attributes"
          formGroupName="attr"
        >
          <label
            class="architects-new__content-form-inputs-attributes-levels"
            for="levels"
            ><i class="fas fa-layer-group"></i
            ><input
              id="levels"
              type="number"
              formControlName="levels"
              required
              (keydown.enter)="$event.preventDefault()"
          /></label>
          <label
            class="architects-new__content-form-inputs-attributes-rooms"
            for="rooms"
            ><i class="fas fa-door-closed"></i
            ><input
              id="rooms"
              type="number"
              formControlName="rooms"
              required
              (keydown.enter)="$event.preventDefault()"
          /></label>
          <label
            class="architects-new__content-form-inputs-attributes-baths"
            for="baths"
            ><i class="fas fa-bath"></i
            ><input
              id="baths"
              type="number"
              formControlName="baths"
              required
              (keydown.enter)="$event.preventDefault()"
          /></label>
          <label
            class="architects-new__content-form-inputs-attributes-garage"
            for="garage"
            ><i class="fas fa-car"></i
            ><input
              id="garage"
              type="checkbox"
              formControlName="garage"
              required
              (keydown.enter)="$event.preventDefault()"
          /></label>
        </div>
        <label class="architects-new__content-form-inputs-price" for="price">
          <p>Valor de venta</p>
          <input
            type="number"
            placeholder="Precio"
            formControlName="price"
            required
            (keydown.enter)="$event.preventDefault()"
          />
        </label>
        <label class="architects-new__content-form-inputs-tags" for="tags">
          <p>Etiquetas</p>
          <input
            type="text"
            id="tags"
            #tag
            placeholder="tags"
            (keydown.enter)="cargarTag($event)"
          />
          <p class="tags-container" [ngSwitch]="tags.length > 0">
            <ng-container *ngSwitchCase="true">
              <b *ngFor="let tag of tags; let y = index" (click)="noTag(y)">{{
                tag
              }}</b>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <i>No hay etiquetas</i>
            </ng-container>
          </p>
        </label>
      </div>
      <div class="architects-new__content-form-buttons">
        <button
          class="architects-new__content-form-buttons-return"
          [routerLink]="['/profile']"
        >
          Regresar
        </button>
        <button
          class="architects-new__content-form-buttons-submit"
          type="submit"
          [disabled]="isDisabled"
          (click)="sendForm()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
