@import "src/globals.scss";

.architects-home {
  min-height: 85vh;
  &-banner {
    width: 100%;
    height: 50vh;
    background: $brick_t;
    display: flex;
    justify-content: center;
    align-items: center;
    &-search {
      width: 60%;
      @media screen and (max-width: 460px) {
        width: 90%;
        }
      &-title {
        text-align: center;
        margin-bottom: 40px;
      }
      &-form {
        width: 100%;
        display: flex;
        height: 40px;
        &-input {
          flex: 1;
          border: none;
          outline: none;
          border-bottom: 2px solid $blue;
          border-radius: 8px;
          margin-right: 20px;
          padding-left: 20px;
          color: $blue;
          &::placeholder {
            color: $blue;
          }
        }
        &-button {
          width: 100px;
          border: none;
          background: $blue;
          color: $white;
          border-radius: 5px;
        }
      }
    }
  }
  &-content {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: $b-shadow;
    padding-top: 40px;
    height: auto;
    min-height: 35vh;
    overflow: hidden;
    &-views {
      width: 100%;
      padding: 1rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      justify-content: center;
      align-content: center;
      gap: 10px;
    }
  }
}
