@import "src/globals.scss";

.architects-navbar {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to right, #c5c5c5, #eef2f3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1.5rem #0005;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 10px;
  overflow: hidden;
  &__logo {
    flex: 1;
    &-type {
      img {
        width: 200px;
        @media screen and (max-width: 1024px) {
        width: 150px;
        }
        @media screen and (max-width: 460px) {
        width: 90px;
        }
      }
    }
  }
  &__options {
    display: flex;
    max-width: 500px;
    min-width: 400px;
    @media screen and (max-width: 460px) {
      min-width: 250px;
      }
    justify-content: space-around;
    &-item {
      cursor: pointer;
      & > * {
        display: block;
        text-align: center;
        margin: auto;
      }
    }
  }
}
