<nav class="architects-navbar">
  <div class="architects-navbar__logo">
    <a class="architects-navbar__logo-type" routerLink="/">
      <img src="https://burbanostudio-assets.s3.us-east-2.amazonaws.com/projects/ARCHITECTS/assets/invite-isotype-architect.svg" alt="">
    </a>
  </div>
  <div class="architects-navbar__options">
      <a
        class="architects-navbar__options-item"
        *ngFor="let link of list"
        [routerLink]="link.url"
        routerLinkActive="Active"
        ><i [class]="link.icon"></i><span>{{ link.name }}</span></a
      >
      <a
        class="architects-navbar__options-item"
        *ngIf="isLog"
        (click)="logout()"
      >
        <i class="fas fa-sign-out-alt"></i>
        <span>salir</span>
      </a>
    </div>
</nav>
