<div class="architects-profile">
  <aside class="architects-profile-panel" [ngClass]="{'show': showPanel}">
    <figure class="architects-profile-panel-container" [ngClass]="{'load': !isLoadImage}">
      <img
      *ngIf="datos.profile"
        class="architects-profile-panel-container-img"
        [src]="datos.profile"
        [alt]="datos.name"
        (load)="changeImage(true)"
      />
    </figure>
    <div class="architects-profile-panel-info">
      <h2 class="architects-profile-panel-info-name">{{ datos.name }}</h2>
      <p class="architects-profile-panel-info-rol">{{ datos.rol }}</p>
      <p class="architects-profile-panel-info-phone">
        Telefono: <b>{{ datos.number }}</b>
      </p>
      <p class="architects-profile-panel-info-email">
        Email: <b>{{ datos.email }}</b>
      </p>
    </div>
    <ng-container [ngSwitch]="datos.rol">
      <div class="architects-profile-panel-list" *ngSwitchCase="_ROL.USER">
        <h3 class="architects-profile-panel-list-title">Yours favorites</h3>
        <app-cards [card]="card" *ngFor="let card of cards"></app-cards>
      </div>
      <div class="architects-profile-panel-list" *ngSwitchCase="_ROL.ASESOR">
        <h3 class="architects-profile-panel-list-title">Your publications</h3>
        <app-cards [card]="card" *ngFor="let card of cards"></app-cards>
      </div>
    </ng-container>
  </aside>
  <main class="architects-profile-content" >
    <section class="architects-profile-content-card" [ngSwitch]="datos.rol">
      <ng-container *ngSwitchCase="_ROL.USER">
        <app-band title="Tus Favoritos" [borderRadius]="true"></app-band>
        <app-grid-squares
        [items]="cards"
        [showLikes]="datos.rol === _ROL.USER"
        ></app-grid-squares>
      </ng-container>
      <ng-container *ngSwitchCase="_ROL.ASESOR">
        <app-band title="Tus Favoritos" [borderRadius]="true" [showButton]="true" (buttonClick)="newInmueble()"></app-band>
        <app-grid-squares
        [items]="cards"
        [showLikes]="false"
        [showControls]="true"
        (delete)="deleteInmueble($event)"
        (edit)="editInmueble($event)"
        ></app-grid-squares>
      </ng-container>
    </section>
  </main>
  <button class="architects-profile-toggle" mat-mini-fab (click)="onClickToggle()"><mat-icon>menu</mat-icon></button>
</div>
