@import "src/globals.scss";

.architects-signup {
  min-height: 85vh;
  width: 100vw;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 600px;
    width: 40%;
    min-width: 332px;
    max-height: 500px;
    overflow-y: auto;
    height: 60%;
    background: linear-gradient(to top, #c5c5c5, #eef2f3);
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem #0005;
    padding: 10px 0;
    @media screen and (max-width: 400px) {
      max-height: 500px;
    }
    &-title {
      text-align: center;
    }
    &-form {
      margin: auto;
      width: 304px;
      & > * {
        margin-top: 20px;
        display: block;
      }
      &-label {
        display: block;
        &-field {
          font-size: 14px;
        }
        &-input {
          display: block;
          width: 100%;
          margin-top: 5px;
          height: 30px;
          padding-left: 2ch;
          border: none;
          outline: none;
          border-radius: 5px;
          border-bottom: 2px solid $blue;
        }
      }
      &-error {
        color: $red;
        font-size: 12px;
        margin-top: 0 !important;
      }
      &-submit {
        height: 13%;
        width: 40%;
        border: none;
        background: #302b63;
        color: #eef2f3;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0.15rem;
        height: 40px;
        margin: 0 auto;
        display: block;
        &:hover {
          background: #231f48;
        }
        &:disabled {
          background: #444;
        }
      }
      &-link {
        text-align: center;
        display: block;
        color: $blue;
        cursor: pointer;
      }
      & re-captcha {
        transform: scale(0.95);
      }
    }
  }
}
