
<div class="architects-property">
  <div class="architects-property__content" *ngIf="inmueble">
    <app-carousel-slider [images]="inmueble.images"></app-carousel-slider>
    <div class="architects-property__content-information">
      <h2 class="architects-property__content-information-type">{{inmueble.type}}</h2>
      <p class="architects-property__content-information-description">{{inmueble.description}}</p>
      <section class="architects-property__content-information-features">
        <h3 class="architects-property__content-information-features-title">Caracterisiticas</h3>
        <div class="architects-property__content-information-features-icons">
          <span class="architects-property__content-information-features-icons-item">
            <i class="fas fa-layer-group"></i>
            <p>{{ inmueble.features.levels }} pisos</p>
          </span>
          <span class="architects-property__content-information-features-icons-item">
            <i class="fas fa-door-closed"></i>
            <p>{{ inmueble.features.rooms }} cuartos</p>
          </span>
          <span class="architects-property__content-information-features-icons-item"><i class="fas fa-bath"></i>
            <p>{{ inmueble.features.baths }} baños</p>
          </span>
          <span class="architects-property__content-information-features-icons-item"><i class="fas fa-car"></i>
            <p>{{ inmueble.features.garage ? 'Si' : 'No'}}</p>
          </span>
        </div>
      </section>
      <section class="architects-property__content-information-location">
        <h3 class="architects-property__content-information-location-title">Ubicacion</h3>
        <div class="architects-property__content-information-location-items">
          <p class="architects-property__content-information-location-items-sector">{{ inmueble.sector }}</p>
          <p class="architects-property__content-information-location-items-city">
            <b>{{ inmueble.city }}</b>
          </p>
          <i class="fas fa-map"></i>
        </div>
      </section>
      <p class="architects-property__content-information-price">Por solo <b>{{inmueble.price | currency : "COP" : "symbol-narrow" :
        "4.0-0"}} USD</b> </p>
      <section class="architects-property__content-information-tags">
        <h3 class="architects-property__content-information-tags-title">Etiquetas</h3>
        <span class="architects-property__content-information-tags-container">
          <p class="architects-property__content-information-tags-container-tag" *ngFor="let i of inmueble.tags">{{ i }}</p>
        </span>
      </section>
    </div>
  </div>
</div>