<div class="architects-cards" *ngIf="card">
    <div class="architects-cards__content">
      <h4>{{card.type}}</h4>
      <p>{{card.sector}}</p>
      <p>{{card.city}}</p>
      <div class="icons">
        <p><i class="fas fa-layer-group"></i>{{card.features.levels}}</p>
        <p><i class="fas fa-door-closed"></i>{{card.features.rooms}}</p>
        <p><i class="fas fa-bath"></i>{{card.features.baths}}</p>
        <p><i class="fas fa-car"></i>{{card.features.garage}}</p>
      </div>
    </div>
    <div class="architects-cards-img" style="background: url('{{card.images[0]}}');">
      <img [src]="card.images[0]" alt="">
    </div>
  </div>